.post-title {
    font-size: 28px;
    font-weight: bold;
    opacity: 1;
  }
  
  .post-title:hover {
    opacity: 0.6;
  }
  
  .subreddit-text {
    font-weight: bold;
  }
  
  .post-url {
    color: black;
  }
  
  .username{
      color: gray;
  }
  
  .post-text{
      margin-top: 10px;
  }
  
  .post{
    --post-line-color: white;    
    border: 1px solid rgba(253, 253, 253, 0.2);
    margin-top:10px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #2C2F33;
    color:aliceblue;
    position: relative;
    border-radius: 4px;
    padding:5px;
  }
  
  .comment{    
      --post-line-color: white;    
      border: 1px solid rgba(253, 253, 253, 0.2);    
      margin-bottom: 10px;
      overflow: hidden;
      background-color: #2C2F33;
      color:aliceblue;
      position: relative;
      border-radius: 4px;
      padding:5px;
  }
  .message { 
    white-space: pre-wrap;
    font-weight: bold;
  }
  .test{
    color: aliceblue;
    background-color: #2C2F33;
    opacity: .3;

    border: none;
    font-size: small;
}
