.post{
    --post-line-color: white;    
    border: 1px solid rgba(253, 253, 253, 0.2);
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #2C2F33;
    color:aliceblue;
    position: relative;
    border-radius: 4px;
    padding:5px;
}

.btnCommments{
    border-radius: 2px solid;
    color: #878A8C;
    opacity: 1;
}

.btnCommments:hover{
    opacity: 0.65;
    cursor: pointer;
}

.post-title{
    font-size: 28px;
    font-weight: bold;
    opacity: 1;
}

.posturl, .postname{    
    color: aliceblue;
}

.subreddit-text{
    font-weight: bold;
}

.post-text{
    margin-top: 10px;
}
.post-title {
  font-size: 28px;
  opacity: 1;
}

.post-title:hover {
  opacity: 0.6;
}

.subreddit-text {
  font-weight: bold;
  color:gray
}

.post-url {
  color: black;
}

.username{
    color: gray;
}

.post-text{
    margin-top: 10px;
}

.comment{    
    --post-line-color: black;    
    border: 1px solid black;    
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.8);
    color:black;
    position: relative;
    border-radius: 4px;
    padding:5px;
}
.test{
    color: aliceblue;
    background-color: #2C2F33;
    opacity: .3;
    border: none;
    font-size: small;
}
.test:hover{
    opacity: .5;
}