<div class="sidebar">
    <div style="text-align: center; font-size: 1em">Welcome to the Sigma of Trade home page. Explore different trading advices! <img class="logo" src="./assets/images/logo.png" alt="couldnt load pic sry">
    </div>
    <div style="text-align: center">
        <button class="btnCreatePost" style="margin-top: 1px;" (click)="redirectToCreatePost()">Create Post</button>
    </div>
    <hr>
    <div style="text-align: center">
        <button class="btnUserslist" style="margin-right:20px;">FOLLOWERS</button>
        <button class="btnUserslist">FOLLOWING</button>
    </div>
</div>