.sidebar{
    width: 312px;
    height: 242px;
    --post-line-color: white;    
    border: 1px solid rgba(253, 253, 253, 0.2);
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #2C2F33;
    color: aliceblue;
    position: relative;
    border-radius: 4px;
    padding:5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* color:878ac */
/* --post-line-color: white;    
/* border: 1px solid white;     */
/* border: 1px solid rgba(253, 253, 253, 0.2);
margin-bottom: 10px;
overflow: hidden;
background-color: #2C2F33; */
/* background-color: rgba(255,255,255,0.8); */
/* color: #878A8C; */
/* color:aliceblue;
position: relative;
border-radius: 4px;
padding:5px; */ 
/* background-color: #157347; green     border: 1px solid;*/
.btnCreatePost, .btnCreateSubreddit{
    background-color: #5865F2;
    border-color: #5865F2;
    color: aliceblue;
    fill: #5cb85c;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;    
    opacity: 1;
    width: 288px;
    height: 34px;
}
.btnCreatePost:hover{
    opacity: 0.6;
  }
.btnUserslist{
    background-color: #5865F2;
    border-color: #5865F2;
    color: aliceblue;
    fill: #5cb85c;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;    
    opacity: 1;
}

.sidebar>ul>li{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #1c1c1c;
}

.logo {
    height:77px;
    width: 77px;
}